<style>
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
</style>

<h1>White noise. Stay focus.</h1>
<a href="/post/new">
	<strong>contribute</strong>
</a>

<% if user_signed_in? %>
		<p>계정 : <%=current_user.email%></p>
		<p><%=link_to "로그아웃" , destroy_user_session_path, method: :delete, data: {confirm: "로그아웃 하시겠습니까?"}%></p>
<% else %>
		<p><%=link_to "로그인", new_user_session_path %></p>
<% end %>

		<h2>Sound List</h2>

		<ul>

			<%@posts.each_with_index do |item, index|%>
				<li>#<%=(index+1)%>.
					<%=item.title%></li>
				<a href="/post/modify?id=<%=item.id%>">수정</a>
				<a href="/post/delete?id=<%=item.id%>">삭제</a>
				<a href="/comment/new?id=<%=item.id%>">댓글달기</a>
				<li>author:
					<%=item.author%></li>
				<li>description:
					<%=item.contents%></li>
				<hr>

				<ol>
					<% item.comments.each do |comment|%>
						<li><%=comment.contents%></li>
					<% end %>
				</ol>

			<% end %>
	</ul>
